@import '~iview/src/styles/index.less';

// Color 变量覆盖
@link-color : #011627;

.mobile-menu .search i {
  right: 16px;
}

.ivu-scroll-loader {
  height: 0;
}

.ivu-spin-dot {
  background-color: #ccc;
}

.home .ivu-spin-text {
  margin-bottom: 50px;
}
